* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

body {
	color: #fff;
	background-color: #222;
}

.container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

a {
	color: #03b7ff;
	font-size: 24px;
	text-decoration: none;
}

a:hover {
	color: #0484b8;
}

h1 {
	font-size: 2.5em;
}

p {
	font-size: 24px;
}

ul {
	padding: 0 30px;
}

ul li {
	list-style: square;
}

.table {
	width: 100%;
	font-size: 24px;
	border-collapse: collapse;
}

.table th {
	text-align: left;
}

.table td, .table th {
	padding: 10px;
	border: 1px solid #fff;
}

.frame {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.frame a {
	display: inline-flex;
	align-items: center;
	gap: 3px;
	font-size: 24px;
}

.frame a span {
	display: grid;
	place-items: center;
}

.m-frame {
	display: inline-flex;
	gap: 20px;
}

.add table,
.add input,
.add select,
.add textarea {
	font-size: 20px;
}

.add input,
.add select,
.add textarea {
	display: inline-block;
	padding: 8px 10px;
	width: 100%;
}

.add table {
	border-collapse: collapse;
}

.add th,
.add td {
	padding: 10px 0;
}

.add th {
	padding-right: 10px;
}

.add tr {
	border-bottom: 1px solid #fff;
}

button {
	padding: 10px;
	font-size: 24px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}