* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

body {
	height: 100vh;
	color: #fff;
	background-color: #222;
}

.container {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 30px;
}
.wrapper {
	width: 100%;
	height: 100%;
}

.sidebar {
	width: 300px;
	height: 100%;
	background: #333;
	padding: 10px;
}

.sidebar h5 {
	font-size: 1.5em;
}

a {
	color: #03b7ff;
	font-size: 24px;
	text-decoration: none;
}

a:hover {
	color: #0484b8;
}

h1 {
	font-size: 2.5em;
}

p {
	font-size: 24px;
}

ul {
	padding: 0 30px;
}

ul li {
	list-style: square;
}

.table {
	width: 100%;
	font-size: 20px;
	border-collapse: collapse;
}

.table th {
	text-align: left;
}

.table td, .table th {
	padding: 10px;
	border: 1px solid #fff;
}

.frame {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.frame a {
	display: inline-flex;
	align-items: center;
	gap: 3px;
	font-size: 24px;
}

.frame a span {
	display: grid;
	place-items: center;
}

.m-frame {
	display: inline-flex;
	gap: 20px;
}

.form-group {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	font-size: 20px;
	border-bottom: 1px solid #fff;
	padding: 10px 0;
}

.form-group label {
	font-size: 30px;
}

.form-group input, .form-group select, .form-group textarea {
	font-size: 20px;
	width: 70%;
	padding: 8px 10px;
}

button {
	padding: 10px;
	font-size: 24px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}