* {
	font-family: 'Roboto Mono', monospace;
}

body {
	background: #222;
	color: #fff;
}

ul li {
	list-style: square;
}

a {
	color: #03b7ff;
	text-decoration: none;
}

a:hover {
	color: #0484b8;
}

main .m-flex {
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #000;
	background: #333;
	padding: 0 20px;
	gap: 35px;
}
