{% extends 'base.html' %}
{% block title %}Change Term{% endblock %}

{% block content %}
	<!-- Change Term. -->
	<h1>Select term entries to delete</h1>
	{% if terms %}
		<p>All terms:</p>
		<!-- Form. -->
		<form method="post" action="{% url 'delete_term' %}">
			{% csrf_token %}
			<!-- Table. -->
			<table class="table">
				<thead>
					<tr>
						<th><input type="checkbox" id="select-all" /></th>
						<th>Name</th>
						<th>Slug</th>
					</tr>
				</thead>
				<tbody>
					{% for term in terms %}
						<tr>
							<td><input type="checkbox" name="term_ids" value="{{ term.id }}" /></td>
							<td><a href="{% url 'edit_term' term.id %}">{{ term.name }}</a></td>
							<td>{{ term.slug }}</td>
					{% endfor %}
				</tbody>
			</table>
			<button id="del" type="submit" style="margin-top: 10px;">Delete Selected</button>
		</form>
	{% else %}
		<p>No words available.</p>
	{% endif %}

	<!-- Script to select/unselect all checkboxes. -->
	<script>
		document.getElementById('select-all').onclick = function() {
			var checkboxes = document.getElementsByName('term_ids');

			for (var checkbox of checkboxes) {
				checkbox.checked = this.checked;
			}
		}
	</script>
{% endblock %}
