{% extends 'base.html' %}
{% block title %}Change Dictionary{% endblock %}

{% block content %}
	<!-- Change Dictionary. -->
	<h1>Select dictionary entries to delete</h1>
	{% if words %}
		<p>All words:</p>
		<!-- Form. -->
		<form method="post" action="{% url 'delete_dictionary' %}">
			{% csrf_token %}
			<!-- Table. -->
			<table class="table">
				<thead>
					<tr>
						<th><input type="checkbox" id="select-all" /></th>
						<th>English</th>
						<th>Russian</th>
						<th>Uzbek</th>
					</tr>
				</thead>
				<tbody>
					{% for word in words %}
						<tr>
							<td><input type="checkbox" name="word_ids" value="{{ word.id }}" /></td>
							<td><a href="{% url 'edit_dictionary' word.id %}">{{ word.en }}</a></td>
							<td>{{ word.ru }}</td>
							<td>
								{% if word.uz %}
									{{ word.uz }}
								{% else %}
									-
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<button id="del" type="submit" style="margin-top: 10px;">Delete Selected</button>
		</form>
	{% else %}
		<p>No words available.</p>
	{% endif %}

	<!-- Script to select/unselect all checkboxes. -->
	<script>
		document.getElementById('select-all').onclick = function() {
			var checkboxes = document.getElementsByName('word_ids');

			for (var checkbox of checkboxes) {
				checkbox.checked = this.checked;
			}
		}
	</script>
{% endblock %}
