{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
	<!-- Home. -->
	<h1>Home</h1>
	<div>
		<main>
			<div class="m-flex">
				<h3>
					<a href="#">Dictionaries</a>
				</h3>
				<div>
					<!-- Add. -->
					<a href="{% url 'add_word' %}"><span style="color: #19f505;">
							<i class="fa-solid fa-plus"></i></span>
						<span>Add</span></a>
					<span> | </span>
					<!-- Change. -->
					<a href="{% url 'change_dict' %}"><span style="color: #f5d105;">
							<i class="fa-solid fa-pen-to-square"></i></span>
						<span>Change</span></a>
				</div>
			</div>
		</main>
	</div>
{% endblock %}