<nav class="nav">
	<h2><a href="{% url 'home' %}">Dictionary</a></h2>
	<table class="nav-table">
		<tr>
			<td>
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'add_dictionary' %}">Add Dictionary</a></li>
					<li><a href="{% url 'add_category' %}">Add Category</a></li>
					<li><a href="#">Add Term</a></li>
				</ul>
			</td>
			<td>
				<ul>
					<li><a href="{% url 'add_dictionary' %}">Change Dictionary</a></li>
					<li><a href="{% url 'add_category' %}">Change Category</a></li>
					<li><a href="#">Change Term</a></li>
				</ul>
			</td>
		</tr>
	</table>
</nav>